{lib_dirs, ["deps"]}.
{sub_dirs, ["rel"]}.

{deps, [
    {lager, "2.0", {git, "git://github.com/basho/lager", {tag, "2.0.3"}}}
]}.

{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir,"."}]}}]}.

%% EDoc options. Supported values:
%% {todo,true}, {private, true}, {stylesheet_file, "./priv/edoc.css"},
%% {doclet, edown_doclet}, {source_path, ["src", "test"]}, {dialyzer_specs, all}, 
%% {report_missing_type, true}, {report_type_mismatch, true}, {pretty_print, erl_pp},
%% {preprocess, true}, {subpackages,false}, {dir,"./doc"}
{edoc_opts, [{todo,true},{dir,"./docs/doc"},{overview,"./docs/doc/overview.edoc"}]}.
