%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, ["../apps","../deps"]},
       {app_file, strip},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {rel, "adpreplic", "1",
        [
         sasl,
         kernel,
         stdlib,
         adpreplic
         ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "adpreplic"},
       {profile, embedded},
       {incl_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, sasl, [{incl_cond, include}]},
      
       {app, adpreplic, [{incl_cond, include},{lib_dir, ".."}]}
      ]}.

{target_dir, "adpreplic"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "releases/\{\{rel_vsn\}\}/nodetool"},
           {copy, "adpreplic/bin/start_clean.boot",
                  "\{\{erts_vsn\}\}/bin/start_clean.boot"},
           {copy, "files/adpreplic", "bin/adpreplic"},
           {copy, "files/adpreplic.cmd", "bin/adpreplic.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},
           {copy, "files/app.config", "releases/\{\{rel_vsn\}\}/app.config"}
          ]}.
